@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700');

body {
   margin: 0;
   padding: 0;
   font-family: "Roboto", Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

img {
   display: block;
   max-width: 100%;
   max-height: 100%;
}

.container {
   width: 1058px;
   margin: 0 auto;   
}

.header {
   background-color: #4b73b5;
   color: #ffffff;
   margin-bottom: 13px;   
}

.header .container {
   position: relative;
   min-height: 76px;
}

.logo {
   display: inline-block;
   position: absolute;
   left: 0;
   top: 20px;
 }

.contacts {   
   position: absolute;
   right: 0;
   top: 20px;
 }

.contacts__phone {
   text-decoration: none;
   font-size: 21px;
   font-weight: bold;
   color: inherit;
}

.contacts__graph {
   display: block;
   color: inherit;
   font-size: 14px;
   font-weight: bold;
   opacity: 0.7;
   text-decoration: underline;
   margin-left: 67px;
   padding: 0;
   background: none;
   border: none;
   /* position: relative; */
}

.contacts__graph--info {
   display: none;
   position: absolute;
   width: 140px;
   height: 43px;
   background-color: #fff;
   box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
   border-radius: 3px;
   line-height: 18px;
   top: 50px;
   right: 0;
   text-align: center;
   padding: 10px 20px;
}

.contacts__graph:hover {
   color: #fff;
   opacity: 1;
   cursor: pointer;
}

.contacts__graph:hover .contacts__graph--info {
   display: block;
   position: absolute;
   width: 140px;
   height: 43px;
   background-color: #fff;
   box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
   border-radius: 3px;
   line-height: 18px;
   top: 50px;
   right: 0;
   text-align: center;
   padding: 10px 20px;
}

.contacts__week {
   color: #1c5bc3;
   font-weight: 700;
   margin-bottom: 8px;
   
}

.contacts__lunch {
   color: #221f1f;
   font-weight: 300;
   padding-right: 20px;
   line-height: 25px;
}


.content {
   width: 901px;   
}

.content, .sidebar {
   display: inline-block;
   vertical-align: top;
}

.sidebar {   
   margin-top: 32px;
   width: 153px;
}

.nav__item {
   height: 18px;
   margin-bottom: 30px;        
}

.nav__title {   
   color: #4b73b5;
   letter-spacing: 2.4px;
   font-size: 12px;
   font-weight: bold;
   text-transform: uppercase;
   text-decoration: none;
   vertical-align: top;
}

.nav__icon-main:before {
   content: url('../images/main_icon.png');
   margin-right: 19px;
}

.nav__icon-feed:before {
   content: url('../images/feed_icon.png');
   margin-right: 16px;
}

.nav__icon-team:before {
   content: url('../images/team_icon.png');
   margin-right: 14px;
}

/* отображение черным ссылки при наведении */

.nav__title:hover {
   color: #221f1f;   
}

.nav__icon-main:hover:before {   
   content: url('../images/main_icon_black.png')
}

.nav__icon-feed:hover:before {   
   content: url('../images/feed_icon_black.png')
}

.nav__icon-team:hover:before {   
   content: url('../images/team_icon_black.png')
}


/* отображение черным ссылки текущей страницы */

.nav__active .nav__icon-main{
   color: #221f1f;
}

.nav__active .nav__icon-main:before{
   content: url('../images/main_icon_black.png')
}

.nav__active .nav__icon-feed{
   color: #221f1f;
}

.nav__active .nav__icon-feed:before{
   content: url('../images/feed_icon_black.png')
}

.nav__active .nav__icon-team{
   color: #221f1f;
}

.nav__active .nav__icon-team:before{
   content: url('../images/team_icon_black.png')
}


/* Тарифы */

.title {
   color: #221f1f;
   font-size: 49px;
   line-height: 38px;
   margin-top: 16px;
}

.tariffs__item {
   display: inline-block;
   width: 250px;
   height: 456px;
   margin-bottom: 38px;
}

.tariffs__item-central {
   border-radius: 5px;
   border: 1px solid #e8e9ed;
}

.tariffs__icon {
   background: center center no-repeat;
   width: 72px;
   height: 72px;
   margin: 29px auto 21px;
   background-color: #4b73b5;
   overflow: hidden;
   border-radius: 50%;
}

.tariffs__icon--flower {   
   background-image: url('../images/flower.png');
}

.tariffs__icon--star {
   background-image: url('../images/star.png');
}

.tariffs__icon--palette {
   background-image: url('../images/palette.png');
}

.tariffs__text {
   margin: 0px auto 0px;
   width: 188px;
   height: 188px;
   color: #221f1f;
   font-size: 18px;
   font-weight: 300;
   line-height: 32px;
}

.tariffs__text li::before {
   content: '\2022';   
   font-size: 1.1em;
   margin-right: 15px;
}

.tariffs__text p {
   text-align: center;
   margin: 0px;   
}

.tariffs__text .tariffs__name {
   margin-bottom: 6px;
   text-align: center;
   font-size: 11px;
   font-weight: bold; 
   text-transform: uppercase;
   letter-spacing: 2.88px;  
}

.tariffs__price {
   text-align: center;   
   font-weight: 400;   
   color: #212121;
}

.tariffs__currency {
   font-size: 34px;   
}

.tariffs__value {
   font-size: 54px;
   letter-spacing: -1.07px;
   line-height: 134.58px;
}


/* Новости */

.news__title {
   margin-bottom: 72px;
}

.news__item {
   margin-top: 31px;
}

.news__pic {   
   overflow: hidden;
   border-radius: 50%;
   width: 160px;
   height: 160px;
   margin-right: 20px;
}

.news__desc {
   width: 652px;
}

.news__item::after {
   content: url('../images/line.png');
}

.news__item:last-child::after {
   display: none;   
}

.news__pic, .news__desc {
   display: inline-block;
   vertical-align: top;
}

.news__data {
   color: #656464;
   font-size: 14px;
   font-weight: 300;
   line-height: 21px;
}

.news__name {
   margin-top: 5px;
   margin-bottom: 0px;
   font-weight: 700;
   line-height: 15px;
}

.news__text {
   font-size: 18px;
   font-weight: 300;
   line-height: 28px;
   margin-bottom: 10px;
}

/* Пагинация */

.pagination {
   width: 355px;
   margin: 58px auto;
   font-size: 14px;
   line-height: 23px;
}

.pagination__display, 
.pagination__controls,
.pagination__prev,
.pagination__next,
.pagination__pages,
.pagination__item {
   display: inline-block;
   vertical-align: middle;
}

.pagination__display {
   color: #656464;
   font-weight: 300;
   margin-right: 10px;
}

.pagination__controls a {
   text-decoration: none;
   color: #221f1f;
   font-weight: bold;
}

.pagination__prev, .pagination__item-block, .pagination__next {   
   width: 25px;
   height: 25px;
   text-align: center;
   margin-left: -3px;
}

.pagination__item-active {   
   background-color: #4b73b5;
   border-radius: 15%;
}

.pagination__item-active a {
   color: #ffffff;
}

.pagination__item:hover {
   background-color: #dee1e6;
   border-radius: 15%;
   /* opacity: 0.6; */
}


/* Футер */

.footer {
   background-color: #4b73b5;
   color: #ffffff;
}

.footer .container {
   position: relative;
   min-height: 76px;
}

.footer__author {
   width: 236px;   
   position: absolute;
   left: 0;   
   font-size: 14px;
   font-weight: 300;
   line-height: 18px;
}

.foter__school {
   font-weight: bold;
   color: inherit;
}

.author {
   font-weight: bold;
}

.logo--footer {
   display: inline-block;
   position: absolute;
   left: 50%;
   top: 20px;
}

.socials {   
   position: absolute;
   right: 0;
   top: 20px;
   text-align: left;
}

.socials__text {
   margin:0px 0px 5px 0px;
   font-size: 14px;
   font-weight: 400;
}

.socials__item {
   display: inline-block;
   margin-right: 6px;
}

.socials__link {
   display: block;
   background: center center no-repeat;
   width: 20px;
   height: 20px;
   background-color: #d2def3;
   border-radius: 50%;
}

.socials__link:hover {
   background-color: #fff;
}

.socials__link--vk {
   background-image: url('../images/vk.png');
}

.socials__link--fb {
   background-image: url('../images/fb.png');
}

.socials__link--google {
   background-image: url('../images/google.png');
}

.socials__link--twitter {
   background-image: url('../images/twitter.png');
}

.socials__link--mail {
   background-image: url('../images/mail.png');
}