.form {
   width: 767px;
   background-color: #f5f5f5;
   padding: 52px 6.62%;
   margin: 55px 0;
}

.form__title {
   margin-top: 0;
   margin-bottom: 19px;
}

.form__row {   
   display: flex;
   margin-bottom: 12px;
}

.form__block {
   margin-right: 23px;
   flex: 1;
}

.form__block:last-child {
   margin-right: 0;
}

.form__block-name {   
   color: #221f1f;
   font-size: 14px;
   line-height: 28px;
}

.form__input {
   width: 100%;
   background: #ffffff;
   border: none;
   font-size: 14px;
   border-radius: 5px;
   padding: 15px 10px;
   box-sizing: border-box;
}

.form__input::placeholder {
   color: #221f1f;
   opacity: 0.4;
}

.form__input:focus {
   border: 1px solid blue;
}

.form__textarea {
   resize: vertical;
   min-height: 90px;
   margin-bottom: 19px;
}

.form__buttons {
   display: flex;
   justify-content: space-between;
}

.form__radio-lbl {
   display: inline-flex;
   align-items: center;
   margin-right: 18px;
}

.form__radio-lbl:last-child {
   margin-right: 0;
}

.form__radio {
   display: none;
}

.form__radio-custom {
   display: block;
   width: 20px;
   height: 20px;
   border: 1px solid #c9c9c9;
   border-radius: 50%;
   margin-right: 5px;
   position: relative;
}

.form__radio-custom:after {
   content: '';
   display: block;
   width: 8px;
   height: 8px;
   background-color: #4b73b5;
   border-radius: 50%;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   display: none;
}

.form__radio-text {
   font-size: 14px;
   font-weight: 300;
}

.form__radio:checked + .form__radio-custom {
   border: 1px solid #4b73b5;
}

.form__radio:checked + .form__radio-custom:after {
   display: block;
}

.form__radio:checked + .form__radio-custom + .form__radio-text {
   color: #1c5bc3;
}

.form__button-submit {
   background-color: #4b73b5;
   border-radius: 5px;
   font-size: 12px;
   font-weight: 700;
   line-height: 47px;
   text-transform: uppercase;
   letter-spacing: 2.4px;
   color: #ffffff;
   padding: 0 41px 0 20px;
   height: 45px;
   transition: 0.3s;
   position: relative;
}

.form__button-submit::before {
   content: '';
   display: block;
   position: absolute;
   top: 16px;
   right: 20px;
   width: 15px;
   height: 14px;
   background: url('../../images/css_sprite.png') -166px -10px;
   transition: 0.3s;
}

.form__button-submit::after {
   content: '';
   display: block;
   position: absolute;
   top: 16px;
   right: 20px;
   width: 15px;
   height: 14px;
   background: url('../../images/css_sprite.png') -131px -10px;
   transition: 0.3s;
}


.form__button-submit:hover {
   color: #1c5bc3;
   background-color: #fff;
}

.form__button-submit:hover:after {
   opacity: 0;
}

