.pagination {
   width: 355px;
   margin: 58px auto;
   font-size: 14px;
   line-height: 23px;
}

.pagination__display, 
.pagination__controls,
.pagination__prev,
.pagination__next,
.pagination__pages,
.pagination__item {
   display: inline-block;
   vertical-align: middle;
}

.pagination__display {
   color: #656464;
   font-weight: 300;
   margin-right: 10px;
}

.pagination__controls a {
   text-decoration: none;
   color: #221f1f;
   font-weight: bold;
}

.pagination__prev, .pagination__item-block, .pagination__next {   
   width: 25px;
   height: 25px;
   text-align: center;
   margin-left: -3px;
}

.pagination__item-active {   
   background-color: #4b73b5;
   border-radius: 15%;
}

.pagination__item-active a {
   color: #ffffff;
}

.pagination__item:hover {
   background-color: #dee1e6;
   border-radius: 15%;
   /* opacity: 0.6; */
}
