.partners {
   width: 100%;
   border-radius: 5px;
   border: 1px solid #e8e9ed;
   text-align: center;
}

.partners--title {
   margin-bottom: 20px;
   font-size: 18px;
   font-weight: 700;
   line-height: 38px;
   text-transform: uppercase;
}

.partners__list {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
}

.partners__item {
   display: flex;
   width: 40%;
   margin-bottom: 50px;
   justify-content: center;
   align-items: center;
   opacity: 0.5;
   transition: 0.3s;
}

.partners__item:last-child {
   margin-bottom: 35px;
}

.partners__item:hover {
   opacity: 1;
}


