.reference {   
   min-height: 170px;
   background-color: #4bb56b;
   background-image: url('../../images/sign.png');
   display: flex;
   align-items: center;
}

.container--reference {   
   justify-content: center;
}

.reference__block {
   width: 625px;
   color: #ffffff;
   font-size: 18px;
   font-weight: 300;
   line-height: 30px;
}

.reference__request, .reference__phone {
   font-weight: 700;
   color: inherit;
}