.socials {   
   /* position: absolute;
   right: 0;
   top: 20px; */
   text-align: left;
}

.socials__text {
   margin:0px 0px 5px 0px;
   font-size: 14px;
   font-weight: 400;
}

.socials__item {
   display: inline-block;
   margin-right: 6px;
}

.socials__link {
   display: block;
   background: center center no-repeat;
   width: 20px;
   height: 20px;
   background-color: #d2def3;
   border-radius: 50%;
}

.socials__link:hover {
   background-color: #fff;
}

.socials__link--vk {
   background-image: url('../../images/vk.png');
}

.socials__link--fb {
   background-image: url('../../images/fb.png');
}

.socials__link--google {
   background-image: url('../../images/google.png');
}

.socials__link--twitter {
   background-image: url('../../images/twitter.png');
}

.socials__link--mail {
   background-image: url('../../images/mail.png');
}
