.socials {
   margin-top: 30px;
}

.socials__text {
   margin:0px 0px 5px 0px;
   font-size: 14px;
   font-weight: 700;
}

.socials__list {
   display: flex;
   align-items: flex-end;
}

.socials__item {
   display: inline-flex;
   margin-right: 10px;
   justify-content: center;
   align-items: center;
   width: 20px;
   height: 20px;
   /* background-color: #d2def3; */
   border-radius: 50%;
}


.socials__item:hover {
   background-color: #d2def3;
}

.socials__link--vk {
   width: 12px;
   height: 8px;
   background: url('../../images/css_sprite.png') -99px -9px;
}

.socials__link--fb {
   width: 6px; 
   height: 13px;
   background: url('../../images/css_sprite.png') -10px -10px;
}

.socials__link--google {
   width: 15px; 
   height: 9px;
   background: url('../../images/css_sprite.png') -201px -10px;
}

.socials__link--twitter {
   width: 11px; 
   height: 9px;
   background: url('../../images/css_sprite.png') -36px -10px;
}

.socials__link--mail {
   width: 12px; 
   height: 9px;
   background: url('../../images/css_sprite.png') -67px -10px;
}
