.tariffs {
   display: inline-flex;
   flex-direction: column;
   width: 100%;
   border-radius: 5px;
   border: 1px solid #e8e9ed;
}

.tariffs__title {
   line-height: 14px;
   margin: 29px auto 21px;
}


/* .tariffs__item-central {
   border-radius: 5px;
   border: 1px solid #e8e9ed;
}

.tariffs__icon {
   background: center center no-repeat;
   width: 72px;
   height: 72px;
   margin: 29px auto 21px;
   background-color: #4b73b5;
   overflow: hidden;
   border-radius: 50%;
   position: relative;
}

.tariffs__icon--flower::after {
   content: '';
   display: block;
   position: absolute;
   top: 20px;
   left: 22.5px;
   width: 27px; 
   height: 31px;
   background: url('../../images/css_sprite.png') -476px -10px;
}

.tariffs__icon--star::after {
   content: '';
   display: block;
   position: absolute;
   top: 20px;
   left: 20px;
   width: 32px; 
   height: 32px;
   background: url('../../images/css_sprite.png') -571px -10px;
}

.tariffs__icon--palette::after {
   content: '';
   display: block;
   position: absolute;
   top: 21.5px;
   left: 22px;
   width: 28px; 
   height: 29px;
   background: url('../../images/css_sprite.png') -523px -10px;
} */

.tariffs__text {
   margin: 0px auto 0px;
   width: 188px;
   color: #221f1f;
   font-size: 18px;
   font-weight: 300;
   line-height: 32px;
}

.tariffs__text li::before {
   content: '\2022';   
   font-size: 1.1em;
   margin-right: 15px;
}

.tariffs__text p {
   text-align: center;
   margin: 0px;   
}

.tariffs__text .tariffs__name {
   margin-bottom: 8px;
   text-align: center;
   font-size: 11px;
   font-weight: bold; 
   text-transform: uppercase;
   letter-spacing: 2.88px;  
}

.tariffs__price {
   text-align: center;   
   font-weight: 400;   
   color: #212121;
}

.tariffs__currency {
   font-size: 34px;   
}

.tariffs__value {
   font-size: 54px;
   letter-spacing: -1.07px;
   line-height: 102px;
}
