.team-list {
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   margin-left: -47px;
}

.team__item {
   width: calc(100% / 3 - 47px);
   margin-left: 47px;
   margin-bottom: 47px;
}

.team__member {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.team__avatar {
   overflow: hidden;
   max-width: 160px;
   border: 3px solid #577cba;
   border-radius: 50%;
   margin-bottom: 19px;   
   position: relative;
   cursor: pointer;
   transition: 0.3s;
}

.team__avatar::after {
   content: '';
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background: rgba(65, 103, 177, .6);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   transition: 0.3s;
}

.team__avatar-name {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
   font-size: 24px;
   z-index: 1;
   transition: 0.3s;
}

.team__avatar:hover:after {
   display: none;
}

.team__avatar:hover .team__avatar-name {
   display: none;
}

.team__name {
   color: #221f1f;
   font-size: 18px;
   font-weight: bold;
   line-height: 20px;
   margin-bottom: 6px;
}

.team__prof {
   color: #4b73b5;
   font-weight: 700;
}

.team__text {
   font-weight: 300;
   margin-top: -7px;
   line-height: 21px;
}